body {
    font-family: "Lucida Sans", Arial, sans-serif;
    background-image: url("../imagenes/fondo.png"); 
    background-size: cover;
    background-repeat: no-repeat;
  }

  header h1 {
    background-color: #f44336;
    text-align: center;
    border: 4px solid white;
    padding: 5px;
  }

  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    background-color: #ff9800;
    border: 2px solid #f44336;
    font-size: 20px;
    color: white;
  }

  article:nth-child(even){
    text-align: right;
  }

  article:nth-child(even) h2{
    background-color: #ffc107;
    padding: 5px;
    color: white;
  }

  article:nth-child(odd) h2{
    background-color: #f44336;
    padding: 5px;
    color: white;
  }

  p {
    font-size: 20px;
    font-weight: bold;
  }

  aside ul {
    list-style: square;
    font-style: italic;
  }

  aside ul li:first-child {
    font-size: 24px;
    color: blue;
  }

  aside ul li:nth-child(1) {
    font-size: 24px;
    color: blue;
}

aside ul li:nth-child(2) {
    font-size: 20px;
    color: red;
}

aside ul li:nth-child(3) {
    font-size: 16px;
    color: green;
}

footer h1 {
    text-align: center;
    font-size: 20px;
    text-decoration: overline;
}
